<header>
  <img src="assets/kEnAi.svg" width="50" height="50" alt="kEnAi" />
  <div class="menu menu-action">
    <a href="views/inicio.html">Inicio</a>
    <a href="views/upload.html">Upload</a>
    <a href="views/servicios.html">Servicios</a>
    <a href="views/contacto.html">Contacto</a>
  </div>
  <div id="burger" class="burger hidden">
    <i class="fas fa-bars"></i>
  </div>
</header>
<nav id="nav" class="hidden-burger menu-action">
  <a href="views/inicio.html">Inicio</a>
  <a href="views/upload.html">Upload</a>
  <a href="views/servicios.html">Servicios</a>
  <a href="views/contacto.html">Contacto</a>
</nav>
